@import "tailwindcss";

@layer base {
  body {
    background-color: #f8f9ff;
    font-family: 'Inter', sans-serif;
    color: #0d1c2e;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

.asymmetric-bg {
  background-color: #f8f9ff;
  background-image: radial-gradient(at 0% 0%, #e6eeff 0, transparent 50%), 
                    radial-gradient(at 100% 100%, #d5e3fc 0, transparent 50%);
}
